.header {
  font-family: "Raleway", sans-serif;

  &__logo {
    img {
      max-height: 1.5rem;

      @include breakpoint-up(xlarge) {
        max-height: 4rem;
      }
    }
  }

  &__links {
    a {
      color: $veryDarkBlue;
      font-size: $font-xs;

      @include breakpoint-up(medium) {
        font-size: $font-normal;
      }
      &:not(:last-child) {
        margin-right: 1.5rem;

        @include breakpoint-up(medium) {
          margin-right: 2rem;
        }

        @include breakpoint-up(large) {
          margin-right: 3rem;
        }

        @include breakpoint-up(xlarge) {
          margin-right: 3.5rem;
        }
      }
    }
  }
}
