.hero {
  margin-top: 1.75rem;
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 0;

  @include breakpoint-up(large) {
    margin-bottom: 11rem;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }

  &__image {
    order: 0;
    background-image: url("../images/illustration-1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 14.375rem;
    @include breakpoint-up(large) {
      order: 1;
    }
  }

  &__content {
    order: 1;

    @include breakpoint-up(large) {
      padding-right: 3.375rem;
      order: 0;
    }
  }

  &__text {
    text-align: center;

    @include breakpoint-up(large) {
      text-align: left;
      max-width: 25rem;
    }

    @include breakpoint-up(large) {
      max-width: 38rem;
    }

    h1 {
      margin-top: 3rem;
      margin-bottom: 1.75rem;
      font-family: "Raleway", sans-serif;
      font-weight: 700;

      @include breakpoint-up(large) {
        line-height: 1.6;
        font-size: 2.5rem;
      }
    }

    p {
      font-size: $font-xs;

      @include breakpoint-up(large) {
        font-size: $font-lg;
      }
    }
  }

  &__cta {
    font-family: "Raleway", sans-serif;
    margin-top: 2rem;
    margin-bottom: 5.75rem;
    position: relative;

    @include breakpoint-up(large) {
      flex-direction: row;
    }

    @include email-field;
    .email {
      @include breakpoint-up(large) {
        flex: 0.8;
      }

      border-radius: 5px;
      font-size: $font-xs;

      &::placeholder {
        font-size: $font-xs;
      }
    }

    @include error-message;

    button {
      flex: 0 0 auto;
      margin-top: 1rem;
      background-color: $brightBlue;
      color: $white;
      font-family: "Raleway", sans-serif;
      font-size: $font-xs;
      font-weight: 700;
      border: 0;
      padding: 1rem;
      border-radius: 5px;
      box-shadow: $shadow;
      transition: opacity 0.2s ease-in;

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }

      @include breakpoint-up(large) {
        max-width: 13rem;
        margin-top: 0;
        padding: 1rem 4rem;
        //margin-right: 3.375rem;
        margin-left: 1.125rem;
      }
    }
  }
}
