// Colors

$veryDarkBlue: hsl(243, 87%, 12%);
$desaturatedBlue: hsl(238, 22%, 44%);
$brightBlue: hsl(224, 93%, 58%);
$moderateCyan: hsl(170, 45%, 43%);
$lightGrayishBlue: hsl(240, 75%, 98%);
$lightGray: hsl(0, 0%, 75%);
$white: hsl(0, 0%, 100%);
$pinkish: hsl(343, 43%, 63%);

// Font sizes
$font-tiny: 0.625rem; // 10px
$font-xs: 0.75rem; // 12px
$font-sm: 0.875rem; // 14px
$font-normal: 1rem; // 16px
$font-md: 1.125rem; // 18px
$font-lg: 1.25rem; // 20px
$font-xl: 1.5rem; // 24px

// Box shadow

$shadow: 0 0 10px rgba(0, 0, 0, 0.035), 0 0 80px rgba(0, 0, 0, 0.07);
