// Colors

$veryDarkBlue: hsl(243, 87%, 12%);
$desaturatedBlue: hsl(238, 22%, 44%);
$brightBlue: hsl(224, 93%, 58%);
$moderateCyan: hsl(170, 45%, 43%);
$lightGrayishBlue: hsl(240, 75%, 98%);
$lightGray: hsl(0, 0%, 75%);
$white: hsl(0, 0%, 100%);

// Font sizes
$font-sm: 0.75rem;
$font-md: 1.125rem;
$font-lg: 1.25rem;
